@(screenshots: Screenshots, optDisplayedShot: Option[lib.DataStore.Screenshot] = None, optTime: Option[String] = None)

<div class="navbar navbar-fixed-top navbar-darker-text">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">Time Machine</a>
            <ul class="nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         @screenshots.loc.name
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        @for(availableLoc <- lib.ScannedLocation.all) {
                            <li><a href="/@availableLoc.bucketPrefix">@availableLoc.name</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         Today
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@routes.Application.today">Today</a></li>
                        <li><a href="@routes.Application.yesterday">Yesterday</a></li>
                        @for( (name, url) <- lib.DaysHelper.lastWeek ) {
                            <li><a href="@url">@name</a></li>
                        }
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span id="tm-picker-time">@optDisplayedShot.map(_.time).getOrElse("00:00")</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        @for( (txt, link) <- screenshots.hourlyQuickLinks) {
                          <li><a href="@link">@txt</a></li>
                        }
                    </ul>
                </li>

            </ul>

            @for(shot <- optDisplayedShot) {

                <a id="tm-thumb-link" class="btn btn-small" href="@shot.thumbnailsViewUrl">Show Thumbnails</a>
                <p class="navbar-text pull-right" >use left and right arrow keys to navigate; hold alt to go faster</p>
            }
        </div>
    </div>
</div>
