@(day: String, screenshots: Screenshots)

@main("Network Front Time Machine") {

@snippets.nav(screenshots)

<script src="@routes.Assets.at("js/shots.min.js")" type="text/javascript"></script>

<div class="container-fluid">

    <h1>@day</h1>

    @for( (hour, shots) <- screenshots.byHour) {
        <hr>
        <h2>@hour.formatted("%02d"):00</h2>

        <div class="row-fluid">

            <ul class="thumbnails">
        @for(shot <- shots.sortBy(_.dt.getMillis)) {

            <li>
            <div class="thumbnail" id="@shot.timeid">
                <a href="@shot.slideUrl">
                <img src="@shot.thumbnail">
                <div class="caption text-center">@shot.time</div>
                </a>
            </div>
            </li>

        }
            </ul>
        </div>
    }


</div>

}