@main("Network Front Time Machine") {

 <div class="navbar navbar-fixed-bottom">
     <div class="navbar-inner">
         <ul class="nav">
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     UK Network Front
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                     <li><a href="#">UK Network Front</a></li>
                 </ul>
             </li>
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Today
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                     <li><a href="#">Today</a></li>
                     <li><a href="#">Yesterday</a></li>
                     <li><a href="#">Monday</a></li>
                 </ul>
             </li>
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     <span id="picker-time">10:05</span>
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                     @for(hr <- 0 to 23) {
                         <li><a href="#">@hr</a></li>
                     }
                 </ul>
             </li>

         </ul>

         <p class="navbar-text pull-right">use left and right arrow keys to navigate through time</p>
     </div>
 </div>
<div class="container-fluid">

    <h1>Slide</h1>

    <div id="msgs">
       msg
    </div>

    <img id="blah" src="/assets/tmp/01.png">

</div>

}
